* {
   border: 1px solid red !important;
}

.App {
  text-align: center;
  color: white;
}

.flex-parent {
  display: flex;
  flex-flow: row wrap;
  /*justify-content: space-between;*/
  /*flex-wrap: nowrap;*/

  font-weight: bold;
  text-align: center;
  }

.flex-parent > * {
  padding: 10px;
  flex: 1 100%;
}

@media all and (min-width: 600px) {
  .f-child-2, .f-child-5 { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .f-child-3    { flex: 3 0px; }
  .f-child-2 { order: 1; }
  .f-child-3    { order: 2; }
  .f-child-5 { order: 3; }
  .f-child-4  { order: 4; }
}

.f-child-5 {
  width: 200px;
  height: auto;
}

body {
  padding: 2em;
}
